In [3]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.0.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.3 MB)
     |████████████████████████████████| 12.3 MB 10.0 MB/s eta 0:00:01
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     |████████████████████████████████| 502 kB 94.1 MB/s eta 0:00:01
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     |████████████████████████████████| 341 kB 115.6 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ubuntu/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Collecting numpy>=1.20.3; python_version < "3.10"
  Downloading numpy-1.24.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     |████████████████████████████████| 17.3 MB 110.9 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.14.0)
Installing collected packages: pytz, tzdata, numpy, pandas
  WARNING: The scripts f2py, f2py3 and f2py3.8 are installed in '/home/ubuntu/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed numpy-1.24.3 pandas-2.0.2 pytz-2023.3 tzdata-2023.3

In [6]:
import numpy as np

In [1]:
import pandas as pd
df = pd.read_csv('airline-passengers.csv')
df

       Month  Passengers
0    1949-01         112
1    1949-02         118
2    1949-03         132
3    1949-04         129
4    1949-05         121
..       ...         ...
139  1960-08         606
140  1960-09         508
141  1960-10         461
142  1960-11         390
143  1960-12         432

[144 rows x 2 columns]

In [10]:
!pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.2.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.8 MB)
     |████████████████████████████████| 9.8 MB 9.9 MB/s eta 0:00:01
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Collecting scipy>=1.3.2
  Downloading scipy-1.10.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (34.5 MB)
     |████████████████████████████████| 34.5 MB 13.3 MB/s eta 0:00:01
Collecting joblib>=1.1.1
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     |████████████████████████████████| 297 kB 86.9 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.17.3 in /home/ubuntu/.local/lib/python3.8/site-packages (from scikit-learn) (1.24.3)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.2.0 scikit-learn-1.2.2 scipy-1.10.1 threadpoolctl-3.1.0

In [5]:
from sklearn.model_selection import train_test_split

In [8]:

X_train, X_test= train_test_split(df['Passengers'], test_size=0.2, random_state=42)

In [4]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Membaca file CSV
#df = pd.read_csv('data.csv')

# Mengambil kolom yang akan dinormalisasi
data_to_normalize = df[['Passengers']]

# Melakukan Min-Max Scaling
scaler = MinMaxScaler()
normalized_data = scaler.fit_transform(data_to_normalize)

# Mengganti nilai kolom asli dengan nilai yang telah dinormalisasi
df[['Passengers']] = normalized_data

# Menyimpan data yang telah dinormalisasi ke file CSV baru
df

       Month  Passengers
0    1949-01    0.015444
1    1949-02    0.027027
2    1949-03    0.054054
3    1949-04    0.048263
4    1949-05    0.032819
..       ...         ...
139  1960-08    0.969112
140  1960-09    0.779923
141  1960-10    0.689189
142  1960-11    0.552124
143  1960-12    0.633205

[144 rows x 2 columns]

In [2]:
print('halo')

halo