In [21]:
!pip install pandas

Requirement already satisfied: pandas in /home/ubuntu/.local/lib/python3.8/site-packages (2.0.2)
Requirement already satisfied: pytz>=2020.1 in /home/ubuntu/.local/lib/python3.8/site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ubuntu/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /home/ubuntu/.local/lib/python3.8/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in /home/ubuntu/.local/lib/python3.8/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.14.0)

In [22]:
import numpy as np

In [28]:
import pandas as pd
df = pd.read_csv('airline-passengers.csv')
df

       Month  Passengers
0    1949-01         112
1    1949-02         118
2    1949-03         132
3    1949-04         129
4    1949-05         121
..       ...         ...
139  1960-08         606
140  1960-09         508
141  1960-10         461
142  1960-11         390
143  1960-12         432

[144 rows x 2 columns]

In [29]:
X_train = df.iloc[:115]  # Baris 0-2
X_test = df.iloc[115:]

In [24]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in /home/ubuntu/.local/lib/python3.8/site-packages (1.2.2)
Requirement already satisfied: joblib>=1.1.1 in /home/ubuntu/.local/lib/python3.8/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/ubuntu/.local/lib/python3.8/site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: numpy>=1.17.3 in /home/ubuntu/.local/lib/python3.8/site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.3.2 in /home/ubuntu/.local/lib/python3.8/site-packages (from scikit-learn) (1.10.1)

In [31]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Membaca file CSV
#df = pd.read_csv('data.csv')

# Mengambil kolom yang akan dinormalisasi
X_train_norm = X_train[['Passengers']]
X_test_norm = X_test[['Passengers']]

# Melakukan Min-Max Scaling
scaler = MinMaxScaler()
X_train_norm = scaler.fit_transform(X_train_norm)
X_test_norm = scaler.fit_transform(X_test_norm)

# Mengganti nilai kolom asli dengan nilai yang telah dinormalisasi
X_train[['Passengers']] = X_train_norm

# Menyimpan data yang telah dinormalisasi ke file CSV baru
X_train

/tmp/ipykernel_26579/2656041770.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X_train[['Passengers']] = X_train_norm

       Month  Passengers
0    1949-01    0.020672
1    1949-02    0.036176
2    1949-03    0.072351
3    1949-04    0.064599
4    1949-05    0.043928
..       ...         ...
110  1958-03    0.666667
111  1958-04    0.630491
112  1958-05    0.669251
113  1958-06    0.855297
114  1958-07    1.000000

[115 rows x 2 columns]